extends layout

block scripts
    script(src='/javascripts/jquery/jquery-3.4.1.js')
    script(src='/javascripts/ui/queryui.js')
block content
    
    br
    br

    #schema.container.jumbotron
        h3= 'Current Schemas'
        h5= 'Select a Schema to Query On'
        #schemalist.container
        br
        .form-inline.my-2.my-lg-0    
            form.form-inline.my-2.my(action = '/connect')
                input#createschema.btn.btn-outline-info.mr-sm-2(type = 'submit', value = 'Create')
            button#use.btn.btn-outline-success Use

    br

    #query.container.invisible
        h3= 'Build a Query'
        h6= 'Query on Your Mapped Data'
        form.form-group(action='/query', method='POST')
            input#selecttext.form-control.my-2(type = 'text' placeholder = 'select', name = 'selecttext')
            input#wheretext.form-control.my-2(type = 'text', placeholder = 'where', name = 'wheretext')
            input#joinstext.form-control.my-2(type = 'text', placeholder = 'joins', name = 'joinstext')
            input#limittext.form-control.my-2(type = 'text', placeholder = 'limit', name = 'limittext')
            .form-inline.my-2.my-lg-0  
                input#search.btn.btn-outline-success(type='submit', value = 'Search')
                #searchwarn.invalid-feedback.invisible Close results before submitting new query.
    
    br

    #results.container.jumbotron.invisible
        h3= 'Query Results'
        #resultstable.container
        br
        .form-inline.my-2.mylg-0
            button#closeres.btn.btn-outline-info Close